.title-banner{
    margin-top: 20%;
}

@media screen and (min-width: 768px){
    .title-banner{
        margin-top: 10%;
    }
}

@media screen and (min-width: 1024px){
    .title-banner{
        margin-top: 5%;
    }
}

.post{
    height: 150px;
    margin-top: 3%;
    margin-right: 1%;
    transition: .9s;
    background-color: white;
    background: rgba(47,23,75, 0.1);
    color:rgba(47,23,75, 1);
}

.post:hover{
    transition: .4s;

}

.post-header h1{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 2%;
}

.post-header h2{
    margin-top: .1%;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 2%;
}

.post-header p{
    margin-top: 1%;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 2%;
}

.post-footer{
    float: right;
    padding-left: 2%;
    margin-bottom: 1%;
}