.caixa{
    padding: 5% !important;    
    text-align: center;
}
.caixa.header{
    width: 100%;
}
.caixa-header h3{
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}

.caixa-content{
    padding: 5% !important;
}
.caixa-content p{
    font-size: 22px;
    font-weight: lighter;
}
.caixa-content button{
    width: 60%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(47,23,75);
    transition: 1s;
    margin-top: 10%;
}

.caixa-content button:hover{
    transition: 0.3s;
    background-color: white;
    color: rgb(47,23,75);
    text-decoration: underline;
}