.padding-left{
    padding-left: 5%;
}
.padding-right{
    padding-right: 5%;
}
.padding-standard{
    padding: 3%;
}
.padding-top{
    padding-top: 5%;
}
.padding-bottom{
    padding-bottom: 5%;
}


.margin-top{
    margin-top: 5%;
}
.margin-top-high{
    margin-top: 20%;
}
.margin-bottom{
    margin-bottom: 5%;
}
.margin-left{
    margin-left: 5%;
}
.margin-left-short{
    margin-left: 2%;
}
.margin-right{
    margin-right: 5%;
}
.margin-standard{
    margin: 3%;
}