.navbar-item:hover{
    color: rgb(47,23,75) !important;
}
.banner{
    background-image: url('../images/banner.png');
}
.btn-mobile{
    margin-top: 5%;
}

@media screen and (min-width: 768px){
    .btn-mobile{
        margin-top: 2%;
    }
}