.text-center{
    text-align: center;
}
.text-left{
    text-align: left !important;
}
.text-bold{
    font-weight: bold !important;
}
.text-title{
    font-size: 40px !important;
}
.pointer{
    cursor: pointer;
}
.bold{
    font-weight: bold !important;
}
.lighter{
    font-weight: lighter !important;
}
.upper{
    text-transform: uppercase !important;
}
.size-22{
    font-size: 22px;
}
.size-21{
    font-size: 21.5px;
}
.size-20{
    font-size: 20px;
}